<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.phimpme.phimpme">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.NFC" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.phimpme.phimpme.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.phimpme.phimpme.ChooseFromLibraryActivity"
            android:label="@string/title_activity_select">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.MainActivity" />
        </activity>
        <activity
            android:name="com.phimpme.phimpme.PreviewActivity"
            android:label="@string/title_activity_preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.ChooseFromLibraryActivity" />
        </activity>
        <activity
            android:name="com.phimpme.phimpme.UploadActivity"
            android:label="@string/title_activity_upload">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.PreviewActivity" />
        </activity>
        <activity
            android:name="com.phimpme.phimpme.AuthActivity"
            android:label="@string/title_activity_auth">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCuzvQQSFuURP8unPWb7ihlYptJRdOBeMs"/>

        <activity
            android:name="com.phimpme.phimpme.MapActivity"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.MainActivity" />
        </activity>
        <activity
            android:name="com.phimpme.phimpme.GPSManagerActivity"
            android:label="@string/title_activity_gpsmanager">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.UploadActivity" />
        </activity>
        <activity
            android:name="com.phimpme.phimpme.CaptureActivity"
            android:label="@string/title_activity_capture">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.MainActivity" />
        </activity>
        <activity
            android:name=".PhotoManipulationActivity"
            android:label="@string/title_activity_manipulation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phimpme.phimpme.PreviewActivity" />
        </activity>
    </application>

</manifest>
